#Calculator{
    border: 2px solid rgb(154, 149, 149);
    width: 300px;
    border-radius: 5px;
}
#display{
    border: 1px solid black;
    width: 87%;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}
#button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button-class{
    width: 75px;
    height: 75px;
    margin: 5px;
    border-radius: 5px;
   
}